.page-home {
    padding-top: 4.8rem;
}

.label-outline {
    padding: .8rem !important;
    font-size: 1rem !important;
    border: solid 0.0625rem $brand-primary;
    color: $brand-primary;
    background-color: none;
}
